<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block body %} {% endblock %}
    <footer>
        <p>Author: Ehsan Shaghaei<br>
        <a href="https://github.com/Ehsan2754/contactlist">github</a><br>
        <a href="mailto:Ehsan2754@yahoo.com">Ehsan2754@yahoo.com</a></p>
      </footer>
</body>
</html>